
body {
    font-size: 1.7rem;
}
.navbar{
    background-image: url("https://lonelyplanetstatic.imgix.net/copilot/images/NDgwNjQxMDcxXzE2LTktcmF0aW8uanBlZ1R1ZSBGZWIgMDcgMjAxNyAwODoyMTo1OSBHTVQrMDAwMCAoVVRDKQ%3D%3D.jpg?q=40&sharp=10&w=2500");
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 40rem;
    margin-bottom: 0;
    .search {
        margin-top: 20rem;
        input[type=text] {
            border: none;
            height : 45px;
            font-size: 2rem;
        }
        button {
            height : 45px;
            font-size: inherit;
            min-width: 120px;
            @media (max-width: 768px){
                margin-top: 1rem;
            }
        }
    }
}
@media (min-width: 992px){
   .container {
        width: 95%;
        max-width: 1250px;
    } 
}
.favorites {
    span {
        cursor: pointer;
        margin: 15px auto;
        display: table;
        font-size: 1.8rem;
        font-weight: bold;
        &:hover{
            color: #006dac;
        }
    }
}
.pictures-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    .picture-wrapper {
        margin-right: .5rem;
        margin-bottom: .5rem;
        position: relative;
        &:hover {
            .picture-label{
                opacity:1;
                transition: opacity .3s ease-in-out;
                -moz-transition: opacity .3s ease-in-out;
                -webkit-transition: opacity .3s ease-in-out;
            }
        }
        .object-image {
            display: block;
            cursor: pointer;
        }
        .picture-label {
            position: absolute;
            padding:.3rem;
            height: 30px;
            bottom: 0px;
            width: 100%;
            display: flex;
            opacity :0;
            color: #fff;
            font-weight: bold;
            span {
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }
}
.pagination {
    display: table;
    margin: 20px auto;
    span {
        margin: 0 1rem;
    }
}
.picture-info{
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    left:0;
    overflow-y:scroll;
    .picture-area{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #212124;
        color: white;
        .back {
            cursor: pointer;
            i{
                margin-right: .7rem;
            }
            @media (max-width: 680px){
               margin-bottom: 2rem;
            }
        }
        .title{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        img {
            margin: 0 auto;
            @media (max-width: 680px){
                width : 100%;
            }
        } 
        .icons{
            cursor: pointer;
            justify-content: center;
            display: flex;
            margin: 1.2rem;
            font-size: 2.7rem;
            span{
                margin-right: 1.5rem;
            }
            a{
                color: white;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .author {
        display: flex;
        padding: 2rem;
         .thumb-wrapper {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden; 
            margin-right: 2rem;  
        }
        .author-name {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
           
            i {
                margin-left: 1rem;
            }
        }
    }
   
}